# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.env
.venv/
venv/
ENV/


# Jupyter / Experiments
.ipynb_checkpoints/
notebooks/


# ML Artifacts (DO NOT COMMIT)
artifacts/
*.pt
*.pth
*.onnx
*.faiss


# Data (Raw / Generated)
data/raw/
data/processed/
data/synthetic/


# Logs & Outputs
logs/
*.log
outputs/
results/


# OS Files
.DS_Store
Thumbs.db


# IDE / Editor
.vscode/
.idea/
